<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Joing</display-name>
    <!-- ******************************************************************* -->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.session.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadTextFile</servlet-name>
        <servlet-class>servlets.vfs.ReadTextFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadBinaryFile</servlet-name>
        <servlet-class>servlets.vfs.ReadBinaryFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUser</servlet-name>
        <servlet-class>servlets.user.GetUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.session.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAvailableLocales</servlet-name>
        <servlet-class>servlets.user.GetAvailableLocales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAvailableForUser</servlet-name>
        <servlet-class>servlets.app.GetAvailableForUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>servlets.user.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNotInstalledForUser</servlet-name>
        <servlet-class>servlets.app.GetNotInstalledForUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetInstalledForUser</servlet-name>
        <servlet-class>servlets.app.GetInstalledForUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Install</servlet-name>
        <servlet-class>servlets.app.Install</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Uninstall</servlet-name>
        <servlet-class>servlets.app.Uninstall</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPreferredForType</servlet-name>
        <servlet-class>servlets.app.GetPreferredForType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetChilds</servlet-name>
        <servlet-class>servlets.vfs.GetChilds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetByNotes</servlet-name>
        <servlet-class>servlets.vfs.GetByNotes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTrashCan</servlet-name>
        <servlet-class>servlets.vfs.GetTrashcan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFile</servlet-name>
        <servlet-class>servlets.vfs.GetFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFile</servlet-name>
        <servlet-class>servlets.vfs.UpdateFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDirectory</servlet-name>
        <servlet-class>servlets.vfs.CreateDirectory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateFile</servlet-name>
        <servlet-class>servlets.vfs.CreateFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Copy</servlet-name>
        <servlet-class>servlets.vfs.Copy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Move</servlet-name>
        <servlet-class>servlets.vfs.Move</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Trashcan</servlet-name>
        <servlet-class>servlets.vfs.Trashcan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>servlets.vfs.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WriteBinaryFile</servlet-name>
        <servlet-class>servlets.vfs.WriteBinaryFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WriteTextFile</servlet-name>
        <servlet-class>servlets.vfs.WriteTextFile</servlet-class>
    </servlet>
    <!-- ******************************************************************* -->
    <servlet>
        <servlet-name>GetApplication</servlet-name>
        <servlet-class>servlets.app.GetApplication</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/servlets/session/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadTextFile</servlet-name>
        <url-pattern>/servlets/vfs/ReadTextFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadBinaryFile</servlet-name>
        <url-pattern>/servlets/vfs/ReadBinaryFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUser</servlet-name>
        <url-pattern>/servlets/user/GetUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/servlets/session/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAvailableLocales</servlet-name>
        <url-pattern>/servlets/user/GetAvailableLocales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAvailableForUser</servlet-name>
        <url-pattern>/servlets/app/GetAvailableForUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/servlets/user/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNotInstalledForUser</servlet-name>
        <url-pattern>/servlets/app/GetNotInstalledForUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetInstalledForUser</servlet-name>
        <url-pattern>/servlets/app/GetInstalledForUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Install</servlet-name>
        <url-pattern>/servlets/app/Install</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Uninstall</servlet-name>
        <url-pattern>/servlets/app/Uninstall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPreferredForType</servlet-name>
        <url-pattern>/servlets/app/GetPreferredForType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetChilds</servlet-name>
        <url-pattern>/servlets/vfs/GetChilds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetByNotes</servlet-name>
        <url-pattern>/servlets/vfs/GetByNotes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTrashCan</servlet-name>
        <url-pattern>/servlets/vfs/GetTrashCan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFile</servlet-name>
        <url-pattern>/servlets/vfs/GetFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFile</servlet-name>
        <url-pattern>/servlets/vfs/UpdateFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDirectory</servlet-name>
        <url-pattern>/servlets/vfs/CreateDirectory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateFile</servlet-name>
        <url-pattern>/servlets/vfs/CreateFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Copy</servlet-name>
        <url-pattern>/servlets/vfs/Copy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Move</servlet-name>
        <url-pattern>/servlets/vfs/Move</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Trashcan</servlet-name>
        <url-pattern>/servlets/vfs/Trashcan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/servlets/vfs/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WriteBinaryFile</servlet-name>
        <url-pattern>/servlets/vfs/WriteBinaryFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WriteTextFile</servlet-name>
        <url-pattern>/servlets/vfs/WriteTextFile</url-pattern>
    </servlet-mapping>
    <!-- ******************************************************************* -->
    <servlet-mapping>
        <servlet-name>GetApplication</servlet-name>
        <url-pattern>/servlets/app/GetApplication</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
