<?xml version="1.0" encoding="ISO-8859-1" ?>
<ui:composition 
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
    <div class="web_form">
    
    <div class="web_form_content">
	<h:form id="start_create_account">
	<h2>Create an account</h2>
	
        <table cellpadding="0" cellspacing="5" border="0">
            <tr><td><h:outputLabel for="user_name" value="User"/></td>
            <td><div class="input_text"><span><h:inputText
		id="user_name"
		value="#{CreateAccount.account}"
		maxlength="32"/></span></div></td></tr>
            <tr><td><h:outputLabel for="user_email" value="e-mail"/></td>
            <td><div class="input_text"><span><h:inputText
		id="user_email"
		maxlength="64"
		value="#{CreateAccount.email}"/></span></div></td></tr>
        </table>
	<div class="field">
	    <h:commandLink
		styleClass="submit"
		value="Create"
		action="#{CreateAccount.gotoForm}"/>
	</div>
	</h:form>
          <p style="clear: both;">
            Registered users can launch Join'g
          </p>
          <div>
              <a href="client/launch_client.jnlp" class="web_start">Start</a>
            <br style="clear: both;"/><h:outputText value="&amp;nbsp;" escape="false"/>
          </div>
       </div>
      <div class="web_form_end"></div>
    </div>
</ui:composition>