* {
  font-family: Arial, sans-serif;
  color: #2E2E2E;
}
body {
  margin: 0px;
  padding: 0px;
  font-size: .75em;
  line-height: 1.6em;
}
h1, h1 span, h1 span span {
  display: block;
  height: 45px;
  padding: 0px;
  margin: 0px;
}
h1, h1 *, h1 span span, h1 span span span {
    color: #FFFFFF;
}
h1 {
  background-image: url('../img/title_left.png');
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 25px;
}
h1 span {
  background-image: url('../img/title_right.png');
  background-repeat: no-repeat;
  background-position: top right;
  padding-right: 25px;
}
h1 span span {
  display: block;
  background-image: url('../img/title_middle.png');
  background-repeat: repeat-x;
  background-position: top;
  font-size: 18px;
  padding-top: 10px;
}
h3 {
  color: #1E375E;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}
strong {
  color: #1E375E;
}
p, div.paragraph {
  margin-left: 20px;
  margin-right: 10px;
}
.top {
  background-image: url('../img/border_top.png');
  background-repeat: repeat-x;
  background-position: top;
  height: 245px;
  
}

.content_top {
  height: 245px;
  background-image: url('../img/top_left_corner.png');
  background-position: top left;
  background-repeat: no-repeat;
  
}

.content_top_div {
  height: 245px;
  background-image: url('../img/top_right_corner.png');
  background-position: top right;
  background-repeat: no-repeat;
  
  padding: 14px 16px 0px 12px;
}

.logo {
  display: block;
  position: absolute;
  left: 41px;
  top: 28px;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  width: 285px;
  height: 135px;
  
}

.catchphrases {
  position: absolute;
  top: 37px;
  left: 327px;
  padding-right: 26px;
  min-width: 342px;
}
.catchphrases ul {
  list-style-position: outside;
  list-style-type: none;
  line-height: 20px;
}

.middle {
  background-image: url('../img/border_left.png');
  background-repeat: repeat-y;
  background-position: left;
}

.content_middle {
  background-image: url('../img/border_right.png');
  background-repeat: repeat-y;
  background-position: right;
  
  padding: 0px 16px 0px 12px;
  
  margin-top: -80px;
}
.web_form, .contenido_web_form, .cierre_web_form {
  width: 260px;
}
.web_content {
  margin-right: 300px;
  padding: 0px 10px 10px 20px;
  min-height: 350px;
}
.web_content img.diagram {
    display: block;
    float: right;
    margin: 5px 0px 15px 15px;
}
.web_form {
  margin-right: 10px;
  float: right;
  background-image: url('../img/destacado_top.png');
  background-repeat: no-repeat;
  background-position: top left;
  padding-top: 26px;
}
.web_form_content {
  background-image: url('../img/destacado_middle.png');
  background-repeat: repeat-y;
  background-position: top left;
  margin-top: -10px;
  padding-left: 30px;
  padding-right: 30px;
}
.web_form form {
  margin: 0px 0px 20px 0px;
  padding: 0px;
}
.web_form h2 {
  color: #FFFFFF;
  display: block;
  font-size: 18px;
  font-weight: normal;
  padding: 0px;
  margin: 0px 0px 20px 0px;

}
.web_form p {
  display: block;
  margin: 0px;
  padding: 5px 0px 5px 7px;
}
.web_form .field {
  height: 30px;
}
.web_form label {
  display: block;
  float: left;
  width: 75px;
  margin-top: 3px;
}
div.input_text {
  display: block;
  float: left;
  background-image: url('../img/input_left.png');
  background-repeat: no-repeat;
  background-position: top left;
  height: 22px;
  margin: 0px;
  padding: 0px 0px 0px 10px;
}
div.input_text span {
  display: block;
  float: left;
  background-image: url('../img/input_right.png');
  background-repeat: no-repeat;
  background-position: top right;
  height: 22px;
  margin: 0px;
  padding: 0px 10px 0px 0px;
}

div.input_text span input {
  display: block;
  float: left;
  color: #2E2E2E;
  margin: 0px;
  padding-top: 3px;
  background-image: url('../img/input_center.png');
  background-repeat: repeat-x;
  background-position: top left;
  height: 19px;
  border: none;
  width: 100px;
}
.web_form * {
  position: relative;
  color: #FFFFFF;
}
.web_form .submit, .web_form .web_start {
  display: block;
  float: right;
  border: none;
  width: 102px;
  height: 29px;
  margin-top: 5px;
}
.web_form .web_start {
  background-image: url('../img/web_start_btn.png');
  background-repeat: no-repeat;
  background-position: top left;
}
.web_form .submit {
  background-image: url('../img/button_background.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.web_form_end {
  width: 260px;
  background-image: url('../img/destacado_bottom.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  height: 26px;
}

.bottom {
  background-image: url('../img/border_bottom.png');
  background-repeat: repeat-x;
  background-position: bottom;
  height: 50px;
  margin-top: -35px;
  
}

.content_bottom {
  height: 50px;
  background-image: url('../img/bottom_left_corner.png');
  background-position: bottom left;
  background-repeat: no-repeat;
  
}

.content_bottom_div {
  height: 50px;
  background-image: url('../img/bottom_right_corner.png');
  background-position: bottom right;
  background-repeat: no-repeat;
}

.footer_text {
  color: #7D7D7D;
  font-size: 75%;
  margin-left: 40px;
  margin-top: -50px;
  line-height: 30px;
}

.messages {
  list-style-type: none;
  margin: 0px;
  padding: 10px 0px 0px 20px;
}

.messages .error_msg {
  background-image: url('../img/msg_error.png');
}
.messages .info_msg {
  background-image: url('../img/msg_info.png');
}
.messages .fatal_msg {
  background-image: url('../img/msg_fatal.png');
}
.messages .warning_msg {
  background-image: url('../img/msg_info.png');
}

.messages li {
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 20px;
  margin-bottom: 3px;
  font-size: 90%;
}

a {
    color: #1E375E;
}

dl.form { }

dl.form dt {
    float: left;
    width: 150px;
}

dl.form dt, dl.form dd {
    margin-bottom: 5px;
}

.create_user_test_name, .create_user_create {
    margin-left: 10px;
    border: none;
    background: url('../img/button_white_background.png');
    background-color: none;
    background-repeat: no-repeat;
    background-position: top left;
    width: 102px;
    height: 29px;
    color: #FFFFFF;
}
.create_user_gender {}
.create_user_confirm_password,
    .create_user_password,
    .create_user_email,
    .create_user_second_name,
    .create_user_first_name,
    .create_user_account,
    .create_user_quota {

    border: 1px solid #6F94BC;
    padding: 1px 3px 1px 5px;

}

.create_user_quota {
    text-align: right;
}