.joing * {
  font-family: Arial, sans-serif;
  color: #2E2E2E;
  font-size: 12px;
  line-height: 20px;
}

.joing h1, .joing h1 span, .joing h1 span span {
  display: block;
  height: 45px;
  padding: 0px;
  margin: 0px;
}
.joing h1, .joing h1 *, .joing h1 span span, .joing h1 span span span {
    color: #FFFFFF;
}
.joing h1 {
  background-image: url('../img/title_left.png');
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 25px;
  font-size: 18px;
}
.joing  h1 span {
  background-image: url('../img/title_right.png');
  background-repeat: no-repeat;
  background-position: top right;
  padding-right: 25px;
  font-size: 18px;
}
.joing h1 span span {
  display: block;
  background-image: url('../img/title_middle.png');
  background-repeat: repeat-x;
  background-position: top;
  font-size: 18px;
  padding-top: 10px;
}
.joing h3 {
  background-color: inherit;
  color: #1E375E;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}
.joing strong {
  color: #1E375E;
}
.joing p, .joing div.paragraph {
  margin-left: 20px;
  margin-right: 10px;
}
.joing .catchphrases {
  float: right;
  margin: 10px 0px 0px 15px;
  padding-bottom: 30px;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  padding-top: 135px;
}
.joing .catchphrases ul {
  list-style-position: outside;
  list-style-type: none;
  line-height: 20px;
  margin: 0px;
  margin-top: 15px;
  padding: 0px;
}

.joing a {
    color: #1E375E;
}

