<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Join'g</display-name>
    
    <!-- ******************************************************************* -->
    <!-- CONTEXT PARAM -->
    <context-param>
        <param-name>com.sun.faces.verifyObjects</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
	<param-name>com.sun.faces.enableRestoreView11Compatibility</param-name>
	<param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    <context-param>
	<param-name>facelets.DEVELOPMENT</param-name>
	<param-value>true</param-value>
    </context-param>
    <context-param>
      <param-name>facelets.VIEW_MAPPINGS</param-name>
      <param-value>*.html</param-value>
    </context-param>
    <context-param>
	<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
	<param-value>.html</param-value>
    </context-param>
    
    <!-- ******************************************************************* -->
    <!-- SERVLET NAME -->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>org.joing.server.servlets.session.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>org.joing.server.servlets.session.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IsValidPassword</servlet-name>
        <servlet-class>org.joing.server.servlets.session.IsValidPassword</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GetSystemInfo</servlet-name>
        <servlet-class>org.joing.server.servlets.session.GetSystemInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUser</servlet-name>
        <servlet-class>org.joing.server.servlets.user.GetUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAvailableLocales</servlet-name>
        <servlet-class>org.joing.server.servlets.user.GetAvailableLocales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAvailableForUser</servlet-name>
        <servlet-class>org.joing.server.servlets.app.GetAvailableForUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>org.joing.server.servlets.user.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNotInstalledForUser</servlet-name>
        <servlet-class>org.joing.server.servlets.app.GetNotInstalledForUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetInstalledForUser</servlet-name>
        <servlet-class>org.joing.server.servlets.app.GetInstalledForUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Install</servlet-name>
        <servlet-class>org.joing.server.servlets.app.Install</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Uninstall</servlet-name>
        <servlet-class>org.joing.server.servlets.app.Uninstall</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPreferredForType</servlet-name>
        <servlet-class>org.joing.server.servlets.app.GetPreferredForType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetChildren</servlet-name>
        <servlet-class>org.joing.server.servlets.vfs.GetChildren</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetByNotes</servlet-name>
        <servlet-class>org.joing.server.servlets.vfs.GetByNotes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTrashCan</servlet-name>
        <servlet-class>org.joing.server.servlets.vfs.GetTrashcan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFile</servlet-name>
        <servlet-class>org.joing.server.servlets.vfs.GetFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFile</servlet-name>
        <servlet-class>org.joing.server.servlets.vfs.UpdateFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDirectory</servlet-name>
        <servlet-class>org.joing.server.servlets.vfs.CreateDirectory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateFile</servlet-name>
        <servlet-class>org.joing.server.servlets.vfs.CreateFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Copy</servlet-name>
        <servlet-class>org.joing.server.servlets.vfs.Copy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadFileToArray</servlet-name>
        <servlet-class>org.joing.server.servlets.vfs.ReadFileToArray</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WriteFileFromArray</servlet-name>
        <servlet-class>org.joing.server.servlets.vfs.WriteFileFromArray</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>Move</servlet-name>
        <servlet-class>org.joing.server.servlets.vfs.Move</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToTrashcan</servlet-name>
        <servlet-class>org.joing.server.servlets.vfs.ToTrashcan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>org.joing.server.servlets.vfs.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetApplication</servlet-name>
        <servlet-class>org.joing.server.servlets.app.GetApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRoots</servlet-name>
        <servlet-class>org.joing.server.servlets.vfs.GetRoots</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplicationServlet</servlet-name>
        <servlet-class>org.joing.server.servlets.app.ApplicationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <!-- ******************************************************************* -->
    <!-- SERVLET MAPPING -->
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/joing/servlets/session/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/joing/servlets/session/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IsValidPassword</servlet-name>
        <url-pattern>/joing/servlets/session/IsValidPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSystemInfo</servlet-name>
        <url-pattern>/joing/servlets/session/GetSystemInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUser</servlet-name>
        <url-pattern>/joing/servlets/user/GetUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/joing/servlets/user/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAvailableLocales</servlet-name>
        <url-pattern>/joing/servlets/user/GetAvailableLocales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAvailableForUser</servlet-name>
        <url-pattern>/joing/servlets/app/GetAvailableForUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNotInstalledForUser</servlet-name>
        <url-pattern>/joing/servlets/app/GetNotInstalledForUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetInstalledForUser</servlet-name>
        <url-pattern>/joing/servlets/app/GetInstalledForUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Install</servlet-name>
        <url-pattern>/joing/servlets/app/Install</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Uninstall</servlet-name>
        <url-pattern>/joing/servlets/app/Uninstall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPreferredForType</servlet-name>
        <url-pattern>/joing/servlets/app/GetPreferredForType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetChildren</servlet-name>
        <url-pattern>/joing/servlets/vfs/GetChildren</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetByNotes</servlet-name>
        <url-pattern>/joing/servlets/vfs/GetByNotes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTrashCan</servlet-name>
        <url-pattern>/joing/servlets/vfs/GetTrashCan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFile</servlet-name>
        <url-pattern>/joing/servlets/vfs/GetFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFile</servlet-name>
        <url-pattern>/joing/servlets/vfs/UpdateFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDirectory</servlet-name>
        <url-pattern>/joing/servlets/vfs/CreateDirectory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateFile</servlet-name>
        <url-pattern>/joing/servlets/vfs/CreateFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Copy</servlet-name>
        <url-pattern>/joing/servlets/vfs/Copy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Move</servlet-name>
        <url-pattern>/joing/servlets/vfs/Move</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToTrashcan</servlet-name>
        <url-pattern>/joing/servlets/vfs/ToTrashcan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/joing/servlets/vfs/Delete</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>ReadFileToArray</servlet-name>
        <url-pattern>/joing/servlets/vfs/ReadFileToArray</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WriteFileFromArray</servlet-name>
        <url-pattern>/joing/servlets/vfs/WriteFileFromArray</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetApplication</servlet-name>
        <url-pattern>/joing/servlets/app/GetApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRoots</servlet-name>
        <url-pattern>/joing/servlets/vfs/GetRoots</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplicationServlet</servlet-name>
        <url-pattern>/joing/servlets/app/ApplicationServlet</url-pattern>
    </servlet-mapping>
    
    <!-- ******************************************************************* -->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/error/redir.html</location>
    </error-page>
    <error-page>
	<exception-type>javax.faces.application.ViewExpiredException</exception-type>
	<location>/error/expired.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error/not_found.html</location>
    </error-page>
    
    <!-- ******************************************************************* -->
    <!-- LISTENERS -->
	<listener>
		<listener-class>org.joing.server.servlets.session.SessionCleanerTimerStarter</listener-class>
	</listener>

</web-app>
