<?xml version="1.0" encoding="ISO-8859-1" ?>
<ui:composition 
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
    <div class="top">
    <div class="content_top">
    <div class="content_top_div">
	<a href="#{Util.path['/']}" title="Join'g home" class="logo"></a>
      <div class="catchphrases">
        <ul>
          <li><h3>Join'g is about ubiquity and communication</h3></li>
          <li>Place your computer in the Internet and make it available from anywhere.</li>
          <li>Stay in touch with friends, make new ones and share your documents with them.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</ui:composition>