<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/2002/REC-xhtml1-20020801/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <ui:insert name="meta"/>
    <title><ui:insert name="page_title">Join'g - Your desktop across the net</ui:insert></title>
    
    <link rel="stylesheet" type="text/css" href="#{Util.path['css/css.css']}" media="screen" />

</head>
<body>
<ui:include src="/WEB-INF/templates/include/top.html"/>
<div class="middle">
  <div class="content_middle">
    <ui:include src="/WEB-INF/templates/include/form.html"/>
    <div class="web_content">
	<h1><span><span><ui:insert name="title">Welcome to Join'g</ui:insert></span></span></h1>
	<ui:insert name="content"/>
     </div>
    <br style="clear: both;"/><h:outputText value="&amp;nbsp;" escape="false"/>
  </div>
</div>
<div class="bottom">
  <div class="content_bottom">
    <div class="content_bottom_div">
    </div>
  </div>
</div>
<div class="footer_text">
    <span class="visitor_statistics">
        <a href="http://my.statcounter.com/project/standard/stats.php?project_id=3913499&amp;guest=1" target="counter">Visitor Statistics</a>
    </span>
    <span>
        <h:outputText value="&amp;copy;" escape="false"/>2008 Join'g project
    </span>
<!-- Start of StatCounter Code -->
<script type="text/javascript">
var sc_project=3913499; 
var sc_invisible=1; 
var sc_partition=47; 
var sc_click_stat=1; 
var sc_security="28d700a2"; 
</script>

<script type="text/javascript" src="http://www.statcounter.com/counter/counter_xhtml.js"></script><noscript><div class="statcounter"><a class="statcounter" href="http://www.statcounter.com/free_hit_counter.html"><img class="statcounter" src="http://c.statcounter.com/3913499/0/28d700a2/1/" alt="free web site hit counter" /></a></div></noscript>
<!-- End of StatCounter Code -->
</div>
</body>
</html>