<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/2002/REC-xhtml1-20020801/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>Join'g - Your desktop across the net</title>
    
    <link rel="stylesheet" type="text/css" href="#{Util.path['css/css.css']}" media="screen" />

</head>
<body>
<ui:include src="/WEB-INF/templates/include/top.html"/>
<div class="middle">
  <div class="content_middle">
    <ui:include src="/WEB-INF/templates/include/form.html"/>
    <div class="web_content">
	<ui:insert/>
     </div>
    <br style="clear: both;"/><h:outputText value="&amp;nbsp;" escape="false"/>
  </div>
</div>
<div class="bottom">
  <div class="content_bottom">
    <div class="content_bottom_div">
    </div>
  </div>
</div>
<div class="footer_text">
    <h:outputText value="&amp;copy;" escape="false"/>2008 Join'g project
  </div>
</body>
</html>